[project]
	description = Server Api for GCMPlay-Android
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/savvy (divgunsingh)
[access "refs/for/refs/*"]
	read = group user/savvy (divgunsingh)
	push = group user/savvy (divgunsingh)
	label-Code-Review = -2..+2 group user/savvy (divgunsingh)
	label-Verified = -1..+1 group user/savvy (divgunsingh)
	rebase = group user/savvy (divgunsingh)
	removeReviewer = group user/savvy (divgunsingh)
	submit = group user/savvy (divgunsingh)
[access "refs/heads/*"]
	read = group user/savvy (divgunsingh)
	create = group user/savvy (divgunsingh)
	push = +force group user/savvy (divgunsingh)
	pushMerge = group user/savvy (divgunsingh)
[access "refs/tags/*"]
	push = +force group user/savvy (divgunsingh)
	pushTag = group user/savvy (divgunsingh)
	pushSignedTag = group user/savvy (divgunsingh)
