<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
</head>
<body>

<div class="container">

<div class="jumbotron">
  <h1>Flask GCM Server</h1>
  <p>Responsive Page</p>
</div>

<div class="row">
  <div class="col-md-4">
    <h2>Http Methods</h2>
    <p></p>

  </div>
  <div class="col-md-4">
    <h2>Send Notifications</h2>
    <p></p>
  </div>
  <div class="col-md-4">
    <h2>Store Registered Users</h2>
    <p></p>
  </div>
</div>

</div>

</body>
</html>